body {
  margin: auto !important;
  padding: 0px;
  box-sizing: border-box;
  /*background-color: #103a4f !important;*/
  max-width: 2000px;
}
nav {
  height: 77px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color:#fff0;
  z-index: 10000;
}
.nav-column{
  margin: 10px 45px 15px !important;;
}
.nav-column .ul-list{
  align-items: center;
  flex-direction: row;
}
.ul-list .nav-li{
  padding: 15px 0px;
}
.nav-li{
  margin-right: 100px;
}
.align-end{
  justify-content: flex-end !important;
  align-content: flex-end !important;
  display: flex;
}
.search-bar{
  width: 288px !important;
  height: 48px !important;
  padding: 15px 25px !important;
  background: #f0f1f5;
  border-radius: 10px !important;
  border: 1px solid #c4c4c4 !important;
}
.search-bar::placeholder{
  color: #59ABB3;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  /*font-family: "Sofia-Pro";*/
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}
.search-nav{
  display: none;
}
.form-inline {
  margin-right: 20px;
}
.dropdown-menu.show {
  display: block;
  background-color: #13455E !important;
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 196px !important;
  width: 171px !important;
  border: 1px solid #ffffff;
}
.dropdown-menu .a-li:hover{
  color: #59ABB3 !important;
  text-decoration: none;
}
.dropdown-menu li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropdown-menu li span{
  display: none;
}
.dropdown-menu li:hover span{
  display: flex;
  padding-left: 10px;
  color: #59ABB3;
}
.menu-bars{
  font-family: "Sofia-Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #59ABB3;
}
.menu-bars i{
  font-size: 2em;
}
.a-li{
  color: #ffffff;
  font-family: "Sofia-Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}
.divider{
  border: 0.4px solid #FFFFFF;
  margin: 5px 0px;
}
.nav-logo {
  height: 77px;
  width: 204px;
}

/*Modal menú*/
.modal-dialog{
  width: 100% !important;
  max-width: 2000px !important;
}
.modal-content{
  background-color: #ffffff !important;
}
.modal-header{
  border-bottom: 0px !important;
  padding: 15px 50px !important;
}
.modal-header img{
  padding-left: 10px;
}
.modal-body {
  padding: 1rem !important;
  justify-content: center !important;
}
.close {
  float: right !important;
  color: #59ABB3 !important;
  font-family: Sofia-Pro;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  letter-spacing: 0em !important;
  text-align: right;
  padding: 30px 10px !important;
  display: flex;
}
.close span{
  font-size: 22px;
  padding-left: 5px;
}
.close:hover {
  text-decoration: none;
  color: #12435b !important;
}
.ul-menu{
  padding: 0px 50px;
}
.ul-menu li{
  color: #13455E !important;
  list-style: none;
  font-family: Sofia-Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}
.ul-menu li:hover{
  list-style-type: '\2713';
  color: #59ABB3 !important;
}
.ul-menu a{
  color: #13455E !important;
  font-family: Sofia-Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}
.ul-menu a:hover{
  color: #59ABB3 !important;
}
.list-title{
  font-weight: 700;
}
.list-title:hover{
  list-style-type: none !important;
  color: #13455E !important;
}
.modal-rrss{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 82px !important;
  height: 222px;
  right: 2em;
  position: absolute !important;
  bottom: 0px;
}
.modal-rrss div{
  width: 82px;
  height: 74px;
  border: 1px solid #EDECEB;
  justify-content: center;
  align-items: center;
  display: flex;
}
.modal-rrss div img{
  max-width: 36px;
}
/**/
.bg-init {
  /* background-color: #13455e; */
  background-image: url(../img/background/bg-init.png);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #13455E;
  ;
}
.bg-init--info{
  max-width:  710px !important;
  padding-left: 40px !important;
}
.color--red {
  color: #dc7269;
}
.section--flex {
  display: flex;
}
.img-big {
  height: 520px;
  /* height: 456px; */
  padding-left: 7em !important;
}
.stethoscope{
  position: absolute;
  z-index: 0;
  mix-blend-mode: screen;
  left: 0em;
  top: -14em;
  width: 700px;
}
.img-male{
  mix-blend-mode: multiply;
  z-index: 0;
  position: absolute;
  height: 90%;
  left: 11em;
  bottom: 0px;
}
.img-female{
  z-index: 1;
  position: absolute;
  height: 100%;
  bottom: 0px;
  left: 4em;
}
.btn--principal {
  background: #13455e;
  color: #ffffff;
  box-shadow: 0px -3px 10px rgba(255, 255, 255, 0.08), 8px 6px 15px rgba(0, 0, 0, 0.2),
    inset 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 0px;
}
.btn--principal:hover {
  color: #59abb3;
  cursor: pointer;
  background-color: #0c3549;
}
button:focus {
  outline: 0px;
}
.btn--second {
  border: 0px;
  background: #fcfcfc;
  box-shadow: 0px -3px 10px rgba(255, 255, 255, 0.08), 8px 6px 15px rgba(0, 0, 0, 0.2),
    inset 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: #13455e;
  font-weight: 500 !important;
}
.btn--second:hover {
  background-color: #13455e;
  color: white;
  cursor: pointer;
}
.section-presentation {
  padding: 200px 20px 0px;
}
.btn--w196 {
  max-width: 196px;
  width: 196px;
  height: 48px;
  font-size: 14px;
  line-height: 40px;
  font-family: "Sofia-pro";
  font-style: normal;
  font-weight: 400;
  color: #59ABB3 !important;
  display: flex;
  justify-content: space-around;
}
.color-w{
  color: #ffffff !important;
}
.btn--w196-w{
  max-width: 196px;
  width: 196px;
  height: 48px;
  font-size: 14px;
  line-height: 40px;
  font-family: "Sofia-pro";
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
}
.ul-list {
  display: flex;
  padding: 0px;
  list-style-type: none;
  justify-content: space-between;
  max-width: 412px;
  width: 412px;
}
.section-presentation h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  color: #ffffff;
  margin: 0 0 10px;
}
.section-presentation p {
  font-family: "Sofia-pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #dfeef0;
  margin: 0px 0px 42px;
  max-width: 460px;
}

/*Slider*/
.contain--init {
  max-width: 990px;
  width: 100%;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0px;
  margin-top: -100px;
}
.owl-carousel--init {
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel--init .owl-nav {
  display: none;
}
.owl-carousel--init .owl-stage {
  display: flex;
}
.owl-carousel--init .item, .contain--init .item {
  width: 330px;
  height: 250px;
  background: #dfeef0;
  box-shadow: inset 0px 0px 14px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.items-init{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.item-center {
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.owl-carousel--init .item img {
  width: 47px !important;
}
.owl-carousel--init .item h5, .contain--init .item h5 {
  font-size: 16px;
  line-height: 24.75px;
  color: #13455e;
  text-align: center;
  font-family: "sofia-pro-soft";
  font-style: normal;
  font-weight: 400;
  margin: 10px 62px 5px;
}

/*2*/
.section-urgencia {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  padding: 70px 125px 45px;
  margin-top: 140px;
  background-color: #ffffff;
}
.section-urgencia img {
  height: 381px;
  padding: 0px;
  width: 511px;
}
.section-urgencia .flex--direction {
  justify-content: start;
  padding-left: 50px;
  padding-right: 0px;
}
.section-urgencia .flex--direction p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #13455e;
  width: auto;
  max-width: 550px;
  
  min-width: 400px;
  margin: 0px 0px 20px;
  position: relative;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
}
.section-urgencia .flex--direction p:before{
  content: url("../img/icons/Calendar.png");
  position: absolute;
    left: -30px;
}
.input-dato{
  height: 45px;
}
.input-cus {
  font-family: Sofia-pro;
  font-weight: 400;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  border: 0px;
  height: 56px;
  padding: 16px;
  margin-bottom: 10px;
  max-width: 410px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.48);
}
.input-cus::placeholder {
  color: rgba(17, 17, 17, 0.48);
}
.input-cus:focus {
  outline: none;
}
.txt-input-warning{
  color: #59abb3;
  font-family: 'Sofia-pro';
  font-size: 12px;
  position: relative;
  top: -6px;
  display: none;
}
.legal {
  font-size: 16px;
  font-family: Sofia-pro;
  font-weight: 400;
  line-height: 24px;
  color: #8d8d8d; 
}
.legal a:hover{
  color:#8d8d8d !important;
}
.legal a {
  color: #59abb3 !important;
}

/*3*/
.section-mision {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  background: #13455e;
  padding: 58px 125px 0px;  
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.section-mision p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin: 0px 0px 28px;
  max-width: 500px;
  text-align: justify;
}
.section-mision img {
  /*height: 440px;*/
  max-width: 60%;
}
.flex--direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-30{
  min-width: 450px;
}
.flex--direction .container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.owl-carousel--init .item:hover img {
  transform: scale(1.2);
}
.owl-carousel--init .item:hover h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.owl-dot span{
  width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #bdbbbb;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-dot span:active{
  background: #13455E !important;
}
.owl-dot span:hover{
  background: #13455E !important;
}

/*4*/
.section-motivos {
  background: #e2edef;
  text-align: center;
  padding: 70px 115px 100px;
}
.section-motivos h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #13455e;
  margin: 0px 0px 15px;
}
.section-motivos p {
  font-family: Sofia-pro;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #13455e;
  max-width: 607px;
  margin: auto;
}
.section-motivos .contain{
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}
.section-motivos .item--flex:hover .txt-info img {
  transform: scale(1.2);
}
#owl-carousel--reasons {
  margin-top: 57px;
  padding: 0 60px;
  display: none;
}
#section-motivos--block{
  padding: 0px;
  margin-top: 57px;
}
.section-motivos--row {
  display: flex;
  justify-content: center;
}
.section-motivos--row:nth-child(1) {
  margin-bottom: 60px;
}
.section-motivos--row:nth-child(2){
  justify-content: center;
}
.section-motivos--row:nth-child(2) .item--flex {
  margin: auto 40px 37px;
}
.item--flex {
  position: relative;
  background: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #e2edef;
  background-blend-mode: soft-light, normal;
  box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5),
    13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
  border-radius: 35.6049px;
  width: 226px;
  height: 226px;
  padding-top: 26px;
  margin: auto 40px 25px;
}
.item--flex:hover {
  background: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #13455e;
}
.item--flex:nth-child(1) {
  
}
.txt-info h5 {
  font-family: "Sofia-pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #4c4c4c;
  width: 181px;
  margin: 23px auto 0px;
}
.item--flex:hover h5 {
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #59abb3;
}
.txt-info img {
  height: 47px;
  width: auto !important;
  position: relative;
  margin: auto;
}
.bg-item-center img.item--imgMedium {
  height: 255px;
}
.section-motivos .owl-nav {
  display: none;
}
/*5*/
.section-conoce{
  background-image: url("../img/background/bg-conoce-mas.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 0px 125px;
}
.conoce-title{
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 30px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  padding: 1.5em;
}
.conoce-content{
  max-width: 700px;
  line-height: 38px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  /*background: #103a5080;*/
  right: 1em;
  bottom: 15em;
}
.conoce-content h3{
  font-family: Montserrat;
  font-size: 1.75em;
  font-style: normal;
  line-height: 48px;
  color: #ffffff;
}
.conoce-content h5{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: #59ABB3;
}
.conoce-content h5 a{
  color: #ffffff;
}
#owl-carousel-conoce{
  display: block !important;
  padding: 10px 4em;
  justify-content: center;
  align-content: center;
}
#owl-carousel-conoce .owl-nav{
  position: absolute;
  bottom: 10em;
  right: 20em;
}
.owl-stage-conoce{
  padding-bottom: 50px !important;
}
.owl-stage-conoce .owl-item img{
  max-width: 250px !important;
  min-width: 200px !important;
}
#owl-carousel-conoce .owl-prev img, #owl-carousel-conoce .owl-next img{
  width: 50px;
  margin: 15px;
  filter: brightness(2); 
}
#owl-carousel-conoce .owl-prev img:hover, #owl-carousel-conoce .owl-next img:hover { 
  filter: brightness(4) !important; 
}
#owl-carousel-conoce .owl-item {
  background: url(../img/fondo-sldr-2.png);
  background-position: left;
}


/*6*/
.section-especialista {
  background-image: url("../img/background/bg-especialista.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 85px 125pxpx 76px;
  background-color: #cccacd;
  display: none; /*Not for now*/
}
.card--whiteLeft {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: 177px;
}
.card--especialista {
  max-width: 741px;
  padding: 36px 20px 46px;
  text-align: center;
}
.form-especialista {
  margin: 65px 0px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-especialista .input-cus {
  width: 336px;
}
.card--especialista h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #13455e;
  text-align: left;
}
.form-especialista label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #4c4c4c;
  margin-bottom: 3px;
}
/*7*/
.section-especialidades {
  /*background-image: url("../img/background/bg-especialidades.svg");*/
  background-position: left;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #13455e;
  mix-blend-mode: multiply;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  padding: 0px 125px;
}
.justify{
  display: flex;
  justify-content: center;
}

.section-especialidades img{
  padding: 1px;
  max-width: 100%;
}
.section-especialidades h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #59abb3;
  margin: 0px 0px 40px;
}
.list-espc{
  padding: 50px;
  max-width: 515px;
  font-family: Sofia-Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}
.ul-esp {
  list-style: none;
  padding-left: 0px;
  padding-right: 70px;
}
ul.ul-esp:nth-child(2) {
  padding-right: 10px;
}
.ul-esp li::before {
  content: "•";
  color: white;
}
.ul-esp li a {
  font-family: "Sofia-pro";
  font-style: normal;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
  text-decoration: none;
}
.ul-esp li a:hover {
  font-weight: 500;
  color: #59ABB3 !important;
}
.link-lightGreen {
  font-family: "Sofia-pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #59abb3;
  text-decoration: none;
  justify-content: flex-end;
}
.link-lightGreen:hover {
  color: #ffffff;
  font-weight: 500;
}
.flex-end {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  padding-right: 100px;
}
.flex-end--list {
  display: flex;
}

/*8*/
.section-beneficios{
  position: relative;
  padding: 50px 125px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.beneficios-title {
  text-align: center;
  color: #13455E;
  font-family: Montserrat;
  font-weight: bold;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.beneficios-title h3{
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
}
.beneficios-title h5{
  font-family: Sofia-Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  max-width: 607px;
}
.beneficios-content{
  display: flex;
  justify-content: center;
  max-width: 800px;
  display: flex;
}
.card{
  width: 250px;
  margin: 5px 50px;
  border-radius: 17px !important;
  background: #E2EDEF !important;
  box-shadow: 3px 3px #cfcece4d;
  font-family: Montserrat;
}
.card-header{
  border-bottom: 0px !important;
  background: #E2EDEF !important;
  font-family: Sofia-Pro;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: center;
  color: #13455E;
  border-radius: 17px !important;
}
.card-body h5{
  color: #59ABB3;
  font-family: Sofia-Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
}
.card-footer{
  border-top: 0px !important;
  background: #E2EDEF !important;
  border-radius: 17px !important;
}
.card-ul li{
  list-style: none;
  color: #59ABB3;
  padding-bottom: 20px;
}

/*9*/
.section-promotionApp {
  background: #59abb3;
  background-image: url("../img/background/bg-promotionApp.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 125px 86px;
}
.section-promotionApp .section--flex {
  justify-content: center;
}
.section-promotionApp img {
  height: 438px;
}
.section-promotionApp h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.section-promotionApp h3 img {
  height: 77px;
  margin-right: 10px;
  mix-blend-mode: multiply;
}
.section-promotionApp p {
  font-family: Sofia-Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  max-width: 544px;
  margin: 0px 0px 76px 87px;
}
.section-promotionApp .img-store {
  height: 67px;
  margin-right: 22px;
}
.download-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ul-list--store {
  display: flex;
  padding: 0px;
  list-style-type: none;
  justify-content: start;
  margin-left: 87px;
}
/*10*/
.section-opiniones {
  background: #eff0f4;
  padding: 60px 0px 60px 237px;
  box-sizing: border-box;
}
.section-opiniones h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #13455e;

}
.contain {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.owl-carousel-opinion .owl-stage-outer{
  overflow: hidden;
}
.owl-carousel-opinion .owl-stage{
  display: flex;
  padding-left: 0px !important;
}/*
.owl-carousel-opinion .owl-item.active{
  width: 1000px !important;
}*/
.owl-carousel-opinion .owl-item.active p{
  color: #4c4c4c !important;
}
.owl-carousel-opinion .owl-item p{
  color: #4c4c4c99;
}
#owl-carousel .owl-item.active {
  opacity: 1;
}
#owl-carousel .owl-item {
  opacity: 0.5;
}
#owl-carousel .owl-stage {
  padding-left: 0px !important;
}
#owl-carousel button.owl-prev.disabled,
button.owl-next.disabled {
  opacity: 0.5;
}
#owl-carousel-opinion button img {
  height: 50px;
}
#owl-carousel .owl-nav {
  position: absolute;
  right: 237px;
  margin-top: 18px;
}
#owl-carousel-opinion .owl-nav{
  display: flex;
  justify-content: flex-end;
  padding-right: 15em;
}
#owl-carousel-opinion .owl-prev , #owl-carousel-opinion .owl-next {
  background: 0 0 !important;
  color: inherit !important;
  border: none !important;
  padding: 0 !important;
  font: inherit !important;
  margin: 0px 15px;
}
.item-motivo {
  align-items: baseline;
  /* background-color: tomato; */
  color: white;
  display: flex;
  /*height: 250px;*/
  justify-content: center;
  flex-direction: column;
}
.section-opiniones .item-motivo {
  font-family: Sofia-pro;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  margin: 0px 0px 15px;
}
.section-opiniones .item-motivo p.opinion-author {
  font-family: Sofia-pro;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 25px;
  position: relative;
  left: 0;
  bottom: 0;
}
.opinion-rating {
  position: relative;
  display: flex;
  left: 0px;
  top: 0;
  padding-bottom: 43px;
}
.opinion-rating img {
  width: 20px !important;
  margin-right: 10px;
}

/*11*/
.section-contacto {
  /*background-image: url(../img/background/contact-us.png);*/
  background-color: #13455e;
  background-size: cover;
  height: auto;
  padding: 80px 125px;
}
.form-contacto label{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  color: #ffffff;
  margin-bottom: 3px;
}
textarea{
  height: auto !important;
}
.section-contacto h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 38px;
  color: #59abb3;
}
.section-contacto h3 {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
.section-contacto p {
  font-family: Sofia-pro;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  max-width: 544px;
  margin: 0px 0px 76px 87px;
}
.section-contacto img{
  padding: 10px;
}
.rrss{
  font-family: Sofia-Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}
.logos{
  margin-right: 40px;
}
.correo{
  color: #ffffff !important;
}
.form-contacto .input-dato{
  max-width: 100% !important;
  height: 60px !important;
}
.vl {
  border-left: 1px solid #072F43;
  height: 23em;
  padding: 20px;
}
.container-button{
  justify-content: flex-end;
  display: flex;
  margin-top: 30px;
}
.contacto-rrss{
  color: #ffffff;
}

/*12*/
.footer {
  background: #072f43;
  padding: 0px 125px;
}
.footer-contain {
  max-width: 2000px;
  margin: 0 auto;
  padding: 43px 0px;
  display: flex;
  justify-content: space-between;
}
.footer-contain li a,
h6,
.footer-copyright {
  font-family: Sofia-pro;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 38px !important;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}
.footer-contain h6 {
  color: #59abb3 !important;
  margin: 0;
}
.footer-contain ul{
  padding-right: 20px;
  padding-left: 0px;
}
footer ul li {
  list-style: none;
  padding-left: 0px;
}
footer ul li a:hover {
  color: #59abb3;
  cursor: pointer;
}
footer ul li a {
  text-decoration: none;
}
footer ul li img {
  height: 67px;
}
.footer-copyright {
  border-top: 1px solid #13455e;
  padding: 16px 0px;
  text-align: center;
}

a:hover {
  text-decoration: none !important;
  color: #ffffff !important;
}

/*Coming Soon*/
.under-construction{
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url(./../img/background/bg-cooming-soon.png);
  background-size: cover;
}
.coming-soon{
  
  display: flex;
  flex-direction: row;
  /*max-width: 1500px;
  max-height: 900px;*/
  padding: 7em;
  align-items: center;
}
.coming-soon .image img{
  max-width: 715px;  
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text p{
  font-family: Montserat;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  padding: 15px 0px;
}
.text img{
  padding: 15px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 250px;
}

.white-rectangle{
  display: flex;
  flex-direction: row;
}

.white-rectangle img{
  margin: 10px;
  max-width: 60px;
}

.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif;
}
