@media screen and (max-width: 992px){
  nav{
    height: 70px !important;
  }
  .btn-w140 {
      width: 110px;
      font-size: 12px;
  }
  .section--flex {
    justify-content: center;
  }
  .row{
    margin-right: 0px !important;
  }
  .col-md-8 {
    padding-left: 0px;
  }
  .nav-logo {
    max-height: 44px !important;
    width: 117px;
  }
  .btn--w196{
    margin: 30px;
  }
  .btn--w196-w{
    font-family: "Sofia-Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;
  }
  .ul-list .nav-li{
    padding: 0px 0px;
  }
  .nav-li{
    margin-right: 20px;
  }
  .nav-li .btn--w196{
    max-width: 100px;
    height: 40px;
    margin: 0px;
    font-family:"Sofia-Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0px;
  }
  .logo{
    padding-right: 5px !important;
  }
  .bg-init--info{
    max-width: 100%;
    padding: 0px !important;
  }
  .bg-init {
    background-color: #13455e;
    background-image: url(../img/background/bg-stethoscope-responsive.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: unset;
  }

/*Menu modal*/
  .modal-body {
    padding: 1rem 2rem !important;
    justify-content: left !important;
  }
/**/
  .items-init{
    padding: 40px;
  }
  .contain--init .item {
    width: 180px;
    height: 150px;
    margin: 10px;
  }
  .item-center {
    padding: 20px;
  }
  .contain--init .item h5 {
    font-size: 13px;
    line-height: 20px;
    margin: 10px;
}
  .nav-column{
    flex-wrap: nowrap !important;
    /*margin-left: -35px;*/
    padding-top: 15px;
    margin: 0px !important;
  }
  .section-presentation {
    padding: 6em 35px 30px;
  }
  .owl-carousel--init .item{
    width: 250px;
    height: 210px;
    margin: 10%;
  }
  .section-presentation h1{
    font-family: "Montserrat";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    
  }
  .owl-carousel--init{
    flex-direction: column;
  }
  .contain--init{
    bottom: 0px;
    margin-top: 0px;
  }
  .p-rel{
    position: relative !important; 
  }
  .column-flex{
    flex-direction: column !important;
  }
  .section-urgencia .flex--direction {
    padding-left: 0px;
    padding-right: 0px;
}
  .section-urgencia .flex--direction p{
    width: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    min-width: 280px;
    max-width: 420px;
  }
  .w-100{
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  .section-urgencia{
    padding: 30px 40px 45px;
  }  
  .flex--direction .container-form{
    align-items: center;
    margin-left: 0px;
  }
  .input-cus{
    height: 50px;
    width: 100%;
  }
  .section-urgencia{
    margin-top: 0px;
  }
/*Mision*/
  .section-mision{
    padding: 50px 40px 0px;
  }
  .section-mision p{
    padding: 0px;
    line-height: 35px;
  }
  .section-mision img{
    max-width: 100% !important;
    height: auto !important;
    width: 100% !important;
  }
  .ul-list{
    width: auto;
    flex-direction: column;
    align-items: end;
  }
  .p-30{
    padding-left: 0px;
    min-width: 300px;
    flex-direction: column
  }

/*Motivos*/
  .section-motivos{
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .p-40{
    padding: 40px !important;
  }
  .section-motivos p{
    margin: 0px;
  }
  .section-motivos h2{
    font-size: 30px;
  }
  .flex--direction{
    align-items: center;
  }
  .card-white{
    justify-content: center;
    display: flex;
  }
  .card--whiteLeft{
    margin: 0px 25px;
    background: rgba(255, 255, 255, 0.80);
  }
  .item--flex {
    margin: auto auto 25px !important;
}

/*5 Conoce*/
  .section-conoce {
    padding: 40px;
  }
  .owl-stage-conoce{
    max-width: 10000px !important;
    padding-left: 10px !important;
    min-width: 3380px !important;
  }
  #owl-carousel-conoce {
    padding: 10px 0em;
  }
  #owl-carousel-conoce .owl-nav {
    right: 0px;
    max-width: 150px;
    bottom: 75px;
    position: absolute;
  }
  #owl-carousel-conoce .owl-dots {
    position: absolute;
    bottom: 90px;
  }
  #owl-carousel-conoce .owl-prev img, #owl-carousel-conoce .owl-next img {
    width: 40px;
    margin: 15px; 
  } 
  .conoce-carousel.owl-drag .owl-item {
    width: 200px !important;
  }
  .conoce-carousel .owl-nav {
    position: absolute !important;
    background: #103a5099;
    bottom: 1em;
    right: 0px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    margin-left: -4em;
  }
  .conoce-content{
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #103a5000;
    right: 0px;
    bottom: 0px;
  }
  .conoce-title{
    display: none;
  }
  .conoce-content h5 {
    font-size: 15px;
    line-height: 21px;
  }
  .conoce-content h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    padding: 15px 0px;
  }
  .bg-op{
    max-width: 992px;
    height: 100px;
    min-width: 250px;
    position: absolute;
    bottom: 60px;
    background: #13455E;
    opacity: 0.7;
    background-size: cover;
    width: inherit;
  }

/*Especialista*/
  .card--especialista {
    max-width: 80%;
    padding: 36px 20px 46px;
    text-align: center;
  }
  .card--especialista h2 {
    font-size: 24px;
    line-height: 38px;
  }
  .section-especialista{
    background-position: center;
    padding: 75px 0px 75px;
  }
  .form-especialista .input-cus{
    width: auto;
  }

/*Especialidades*/
  .section-especialidades{
    background-image: none;
    height: auto;
    padding: 40px !important;
  }
  .section-especialidades .col-md-6{
    padding-left: 0px !important;
    padding-right: 0px!important;
  }
  .section-especialidades h2{
    font-size: 1.6em;
  }
  .flex-end {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    align-items: center;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .ul-esp {
    list-style: none;
    padding-left: 0px;
    padding-right: 20px;
    min-width: 140px;
  }
  .ul-esp li a{
    font-size: 14px;
    line-height: 30px;
  }
  .ul-esp li a:hover{
    color: #59abb3 !important;
  }
  .justify{
    display: none;
  }
  .list-espc {
    padding: 0px;
    max-width: 100%;
}
/*Beneficios*/
  .section-beneficios{
    padding: 30px;
  }
  .beneficios-title{
    padding: 0px;
  }
  .beneficios-content{
    padding: 0ṕx;
  }
  .beneficios-title h5{
    font-size: 15px;
  }
  .beneficios-title h3{
    font-size: 24px;
    line-height: 30px;
  }
/*Promotion*/
  .section-promotionApp{
    padding: 40px !important;
  }
  .section-promotionApp .section--flex{
    flex-direction: column;
  }
  .section-promotionApp p {
    margin: 0px;
    font-size: 16px;
    text-align: center;
  }
  .section-promotionApp .img-store {
    margin-right: 0px;
    max-width: 200px;
    width: 100%;
    padding: 0% 10%;
  }
  .section-promotionApp h3{
    font-size: 24px;
  }
  .ul-list--store{
    margin: 10px;
  }
  .download-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/*Opiniones*/
  .section-opiniones .item-motivo p {
    font-size: 20px;
    line-height: 21px;
  }
  .section-opiniones {
    padding: 0px 0 90px;
  }
  .contain {
    margin: 0 auto;
    max-width: 1200px;
    width: 100% !important;
    padding: 10%;
  }
  #owl-carousel .owl-stage {
    padding-left: 0px !important;
    width: 1200px !important;
  }
  #owl-carousel-opinion .owl-stage-outer {
    max-width: 800px;
  }
  #owl-carousel-opinion .owl-stage {
    display: flex;
    padding-left: 0px !important;
    width: 1200px !important;
    padding-right: 10px;
  }
  #owl-carousel .owl-item { 
    width: 300px !important;
    margin-right: 40px;
  }
  #owl-carousel .owl-nav {
      right: 80px;
  }
  .section-opiniones .item-motivo p.opinion-author {
    font-size: 16px;
    line-height: 20px;
    position: relative;
  }
  .opinion-rating {
    position: relative;
  }
  #owl-carousel-opinion .owl-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;
}

/*Contacto*/
  .section-contacto{
    padding: 40px;
  }
  .contacto-rrss{
    padding: 0px !important;
    display: flex;
    flex-direction: column;
  }
  .contacto-rrss .flex--direction{
    align-items: baseline !important;
  }
  .flex-col{
    flex-direction: row;
  }
  .contacto-rrss a{
    color: #ffffff !important;
  }
  .contacto-rrss a:hover{
    color: #59abb3 !important;
  }
/*Footer*/
  .footer{
    padding: 40px;
  }
  .footer-contain{
    flex-direction: column;
  }
/** Coming Soon**/ 
  .coming-soon{
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .image{
    display: none;
  }

}

@media screen and (min-width: 2001px){
  .section--flex {
    display: flex;
    justify-content: center;
  }
  nav, .nav-column{
    max-width: 2000px !important;
  }
  .contain--init{
    margin-top: -70px;
  }
  .owl-carousel .owl-stage-outer {
    max-width: 1200px;
  }
  .section-mision p {
    font-size: 28px;
    line-height: 35px;
    max-width: 600px;
}
}