/*Back*/
.back{
    padding: 20px 50px !important;
}
/*Description*/
.section-description{
    background: #13455e;
    padding: 30px 100px;
}
.section-description {
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    vertical-align: middle;
}
.title-specialty{
    color: #59ABB3;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
    margin: auto;
}
.title-cont{
    display: contents;
}
.title-desc{
    color: #59ABB3;
    font-weight: 700;
}

.ul-desc{
    list-style: none;
}
.ul-desc p{
    color: #ffffff;
}