/*Navbar*/
nav{
    position: relative !important;
    background-color:#ffffff;
}
.dropdown button{
    background: #ffffff;
    color: #59abb3;
    border: 1px solid #59abb3;
}


/*Back button*/
.back{
    padding: 50px;
    background: #f0f1f5;
}
.back a{
    color: #4C4C4C;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.back a:hover{
    color: #072f43 !important;
}

/*Section search*/
.section-search{
    padding: 20px 100px;
    background: #f0f1f5;
}
.search-bar{
    max-width: 250px;
    border: 1px solid #59ABB3;
    border-radius: 7px;
    min-height: 35px;
    padding: 5px 10px;
    background: #f0f1f5;
}
.search-bar::placeholder{
    color: #59ABB3;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.section-search p{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    color: #13455E;
}
.abc-search{
    letter-spacing: 0.5em;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 20px 10px 10px;
}
.abc-search a{
    color: #13455e;
}

.abc-search a:hover{
    text-decoration: none !important;
    color: #13455e !important;
    font-size: 25px;
    font-weight: bold;
}

/*Section Specialties*/
.section-specialties{
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f0f1f5;
}
.btn-specialty{
    max-width: 20% !important;
    background: #ffffff !important;
    color: #4C4C4C !important;
    border-color: transparent !important;
    margin: 10px 20px;
    min-height: 60px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.08), 8px 6px 15px rgba(0, 0, 0, 0.2), inset 0px 4px 20px rgba(0, 0, 0, 0);
    border-radius: 10px !important;
    border-left-style: solid !important;
    border-left-color: #13455E !important;
    border-left-width: 10px !important;
    padding: 20px 0px !important;
}
.btn-specialty:focus{
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0);
}
.btn-specialty:hover{
    background: #13455e1a !important;
    color: #4C4C4C !important;
}

/*Media*/
@media screen and (max-width: 992px){
    /*Back button*/
    .back {
        padding: 20px 20px;
    }

    .section-search, .section-specialties {
        padding: 20px 20px;
    }

    .btn-specialty{
        min-height: 60px;
        min-width: 120px !important;
        margin: 10px;
    }

}

/*Miscelaneos*/
.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
  }
